:root {

}

.theme-night-owl {
    --color-background: #011627;
    --color-foreground: #d6deeb;
    --color-primary: #c792ea;
    --color-secondary: #F78C6C;
    --color-accent: #97EDFF;
    --color-muted: #5c6370;
}

.theme-snazzy {
    --color-background: #282D3F;
    --color-foreground: #d6deeb;
    --color-primary: #FF57C6;
    --color-secondary: #21c7a8;
    --color-accent: #97EDFF;
    --color-muted: #97EDFF;
}

.theme-github {
    --color-background: #F0F0F0;
    --color-foreground: #d6deeb;
    --color-primary: #d73a49;
    --color-secondary: #005cc5;
}


/* 't-bg': "#011627",
't-primary': "#c792ea",
't-secondary': "#f78c6c",
't-text': "#abb2bf",
't-dim': "#5c6370", */
